---
layout: base.njk
---

<div class="post">
	<p class="subtitle">{{ published | readableDate }}</p>
	<h2>{{ title }}</h4>
	{% if updated %}<p class="subtitle">Last updated {{ updated | readableDate }}</p>{% endif %}
	{{ content | safe }}
</div>