---
permalink: _headers
eleventyExcludeFromCollections: true
---
/*
  Cache-Control: max-age=300
  X-Frame-Options: DENY
  X-XSS-Protection: 1
  Referrer-Policy: strict-origin-when-cross-origin
  Permissions-Policy: document-domain=()
  Content-Security-Policy: default-src 'self'; frame-ancestors 'none';
{% for post in collections.all %}
/{{ post.data.permalink }}
  Content-Type: text/html; charset=utf-8;
  Link: </style.css>; rel=preload; as=style
{% endfor %}